body{
color: #000F0A;
}

div{
    background-color: #000F0A;
    color: white;
    border-radius: 20px;
    box-shadow: inset;
    width:max-content;
    font-family:Georgia, 'Times New Roman', Times, serif
}

button{
    background-color: darkgoldenrod;
}

.test_image_and_result{
    margin-bottom: 100px;
}